youtube-shorts-automation.json
{
  "name": "🎬 YouTube Shorts Full Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "node_1",
      "name": "⏰ Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Runs every 24 hours automatically. Change hoursInterval to post more/less often."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "country", "value": "us" },
            { "name": "pageSize", "value": "10" },
            { "name": "apiKey", "value": "={{ $vars.NEWS_API_KEY }}" }
          ]
        }
      },
      "id": "node_2",
      "name": "📰 Fetch Trending News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "notes": "Free tier at newsapi.org - 100 requests/day. Set NEWS_API_KEY in n8n variables."
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.articles;\nconst top = articles[Math.floor(Math.random() * Math.min(5, articles.length))];\n\nif (!top) throw new Error('No articles found');\n\nreturn [{\n  json: {\n    topic: top.title,\n    description: top.description || '',\n    source: top.source?.name || 'News',\n    url: top.url || ''\n  }\n}];"
      },
      "id": "node_3",
      "name": "🎯 Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are a viral YouTube Shorts scriptwriter. Create a script about: {{ $json.topic }}\\n\\nRules:\\n- Hook must be shocking or curiosity-inducing (first 3 seconds)\\n- Script must be 45-60 seconds when spoken aloud\\n- Use simple, punchy sentences\\n- End with a call to action to follow the channel\\n\\nRespond with ONLY a raw JSON object — no markdown, no backticks, no preamble:\\n{\\n  \\\"title\\\": \\\"catchy title under 60 chars\\\",\\n  \\\"hook\\\": \\\"first 3 seconds line only\\\",\\n  \\\"script\\\": \\\"full script for voiceover, natural speech only\\\",\\n  \\\"description\\\": \\\"YouTube description with 5 relevant hashtags\\\",\\n  \\\"tags\\\": [\\\"tag1\\\", \\\"tag2\\\", \\\"tag3\\\", \\\"tag4\\\", \\\"tag5\\\", \\\"tag6\\\", \\\"tag7\\\", \\\"tag8\\\", \\\"tag9\\\", \\\"tag10\\\"],\\n  \\\"searchQuery\\\": \\\"2-3 word phrase to find relevant background video footage\\\"\\n}\"\n  }]\n}"
      },
      "id": "node_4",
      "name": "🤖 Claude - Write Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "notes": "Set ANTHROPIC_API_KEY in n8n variables. Get key at console.anthropic.com"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content[0].text.trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (match) {\n    parsed = JSON.parse(match[1].trim());\n  } else {\n    const objMatch = raw.match(/\\{[\\s\\S]*\\}/);\n    parsed = JSON.parse(objMatch[0]);\n  }\n}\n\nif (!parsed.title || !parsed.script) {\n  throw new Error('Invalid script format from Claude');\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "node_5",
      "name": "📝 Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xi-api-key", "value": "={{ $vars.ELEVENLABS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"text\": \"{{ $json.hook }}. {{ $json.script }}\",\n  \"model_id\": \"eleven_turbo_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.45,\n    \"similarity_boost\": 0.80,\n    \"style\": 0.35,\n    \"use_speaker_boost\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "id": "node_6",
      "name": "🎙️ ElevenLabs - Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "notes": "Voice ID 21m00Tcm4TlvDq8ikWAM = Rachel. Change for different voices. Get ELEVENLABS_API_KEY at elevenlabs.io"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $vars.CLOUDINARY_CLOUD_NAME }}/auto/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "file", "value": "={{ $binary.audio.data }}", "parameterType": "formBinaryData" },
            { "name": "upload_preset", "value": "={{ $vars.CLOUDINARY_UPLOAD_PRESET }}" },
            { "name": "resource_type", "value": "video" },
            { "name": "folder", "value": "yt-shorts-audio" }
          ]
        }
      },
      "id": "node_7",
      "name": "☁️ Upload Audio - Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "notes": "Cloudinary free tier: 25GB. Set CLOUDINARY_CLOUD_NAME and CLOUDINARY_UPLOAD_PRESET in n8n variables."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.pexels.com/videos/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $vars.PEXELS_API_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $('📝 Parse Script').item.json.searchQuery }}" },
            { "name": "orientation", "value": "portrait" },
            { "name": "per_page", "value": "6" },
            { "name": "min_duration", "value": "8" },
            { "name": "size", "value": "medium" }
          ]
        }
      },
      "id": "node_8",
      "name": "🎥 Pexels - Get B-Roll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "notes": "Pexels API is 100% free. Get key at pexels.com/api/. Set PEXELS_API_KEY in n8n variables."
    },
    {
      "parameters": {
        "jsCode": "const scriptData = $('📝 Parse Script').item.json;\nconst audioUrl = $('☁️ Upload Audio - Cloudinary').item.json.secure_url;\nconst pexelsData = $input.first().json;\nconst videos = pexelsData.videos || [];\n\nif (!audioUrl) throw new Error('Audio upload failed');\nif (videos.length === 0) throw new Error('No Pexels videos found');\n\nconst getVideoUrl = (video) => {\n  if (!video?.video_files) return null;\n  const hd = video.video_files.find(f => f.quality === 'hd' && f.width && f.width <= 1080);\n  return hd?.link || video.video_files[0]?.link || null;\n};\n\nconst clips = videos.map(v => getVideoUrl(v)).filter(Boolean).slice(0, 3);\nwhile (clips.length < 3) clips.push(clips[0]);\n\nreturn [{\n  json: {\n    title: scriptData.title,\n    script: scriptData.script,\n    hook: scriptData.hook,\n    description: scriptData.description,\n    tags: scriptData.tags,\n    audioUrl: audioUrl,\n    videoClip1: clips[0],\n    videoClip2: clips[1],\n    videoClip3: clips[2]\n  }\n}];"
      },
      "id": "node_9",
      "name": "🔗 Combine All Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.CREATOMATE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"template_id\": \"{{ $vars.CREATOMATE_TEMPLATE_ID }}\",\n  \"modifications\": {\n    \"video-clip-1\": \"{{ $json.videoClip1 }}\",\n    \"video-clip-2\": \"{{ $json.videoClip2 }}\",\n    \"video-clip-3\": \"{{ $json.videoClip3 }}\",\n    \"voiceover-audio\": \"{{ $json.audioUrl }}\",\n    \"hook-text\": \"{{ $json.hook }}\",\n    \"title-text\": \"{{ $json.title }}\"\n  }\n}"
      },
      "id": "node_10",
      "name": "🎬 Creatomate - Render Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300],
      "notes": "Creatomate free trial: 10 renders. Get CREATOMATE_API_KEY at creatomate.com. CREATOMATE_TEMPLATE_ID = ID of your 9:16 Shorts template."
    },
    {
      "parameters": {
        "amount": 90,
        "unit": "seconds"
      },
      "id": "node_11",
      "name": "⏳ Wait 90s for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.creatomate.com/v1/renders/{{ $('🎬 Creatomate - Render Video').item.json[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.CREATOMATE_API_KEY }}" }
          ]
        }
      },
      "id": "node_12",
      "name": "🔍 Get Render URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "video"
            }
          }
        }
      },
      "id": "node_13",
      "name": "⬇️ Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "title": "={{ $('📝 Parse Script').item.json.title }}",
        "description": "={{ $('📝 Parse Script').item.json.description }}",
        "categoryId": "22",
        "options": {
          "tags": "={{ $('📝 Parse Script').item.json.tags.join(',') }}",
          "privacyStatus": "public",
          "madeForKids": false
        }
      },
      "id": "node_14",
      "name": "▶️ Upload to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [2860, 300],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "youtube-oauth",
          "name": "YouTube OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $vars.GOOGLE_SHEET_ID }}",
        "sheetName": "Shorts Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toLocaleDateString('en-IN') }}",
            "Time": "={{ new Date().toLocaleTimeString('en-IN') }}",
            "Title": "={{ $('📝 Parse Script').item.json.title }}",
            "Hook": "={{ $('📝 Parse Script').item.json.hook }}",
            "YouTube ID": "={{ $json.id }}",
            "YouTube URL": "=https://youtube.com/shorts/{{ $json.id }}",
            "Status": "✅ Published"
          }
        }
      },
      "id": "node_15",
      "name": "📊 Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [3080, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "connections": {
    "⏰ Daily Trigger": { "main": [[{ "node": "📰 Fetch Trending News", "type": "main", "index": 0 }]] },
    "📰 Fetch Trending News": { "main": [[{ "node": "🎯 Pick Topic", "type": "main", "index": 0 }]] },
    "🎯 Pick Topic": { "main": [[{ "node": "🤖 Claude - Write Script", "type": "main", "index": 0 }]] },
    "🤖 Claude - Write Script": { "main": [[{ "node": "📝 Parse Script", "type": "main", "index": 0 }]] },
    "📝 Parse Script": { "main": [[{ "node": "🎙️ ElevenLabs - Voiceover", "type": "main", "index": 0 }]] },
    "🎙️ ElevenLabs - Voiceover": { "main": [[{ "node": "☁️ Upload Audio - Cloudinary", "type": "main", "index": 0 }]] },
    "☁️ Upload Audio - Cloudinary": { "main": [[{ "node": "🎥 Pexels - Get B-Roll", "type": "main", "index": 0 }]] },
    "🎥 Pexels - Get B-Roll": { "main": [[{ "node": "🔗 Combine All Assets", "type": "main", "index": 0 }]] },
    "🔗 Combine All Assets": { "main": [[{ "node": "🎬 Creatomate - Render Video", "type": "main", "index": 0 }]] },
    "🎬 Creatomate - Render Video": { "main": [[{ "node": "⏳ Wait 90s for Render", "type": "main", "index": 0 }]] },
    "⏳ Wait 90s for Render": { "main": [[{ "node": "🔍 Get Render URL", "type": "main", "index": 0 }]] },
    "🔍 Get Render URL": { "main": [[{ "node": "⬇️ Download Video", "type": "main", "index": 0 }]] },
    "⬇️ Download Video": { "main": [[{ "node": "▶️ Upload to YouTube", "type": "main", "index": 0 }]] },
    "▶️ Upload to YouTube": { "main": [[{ "node": "📊 Log to Google Sheets", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {}
}
